
lesson-3/.ipynb_checkpoints/lesson-3-checkpoint.ipynb
lesson-4/.ipynb_checkpoints/lesson-4-checkpoint.ipynb
lesson-5/.ipynb_checkpoints/dl-nlp-cnn1-checkpoint.ipynb
lesson-5/.ipynb_checkpoints/lesson-5-checkpoint.ipynb
lesson-6/.ipynb_checkpoints/Lecture rnn-checkpoint.ipynb
lesson-6/.ipynb_checkpoints/lesson-6-checkpoint.ipynb
lesson-6/.ipynb_checkpoints/test-1-checkpoint.ipynb
